* {
    box-sizing: border-box;
}

body {  /* ogolne ustawienia dla calego body */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header { /* ustawienia headera */
    /* background-color: #333; */
    background-color: #0E2954;
    color: #fff;
    padding: 20px;
    width: 100%;
    border-bottom: 3px white solid;
}

.header-container { /* pojemnik w headerze */
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
}

.left-nav, .right-nav { /* ustawienia ulozenia nav barow */
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    
}

.right-nav {
    text-align: right;
}
.right-nav {
    text-align: right;
}

.left-nav ul li, .right-nav ul li {
    list-style-type: none; 
}

.left-nav a, .right-nav a {
    color: inherit;
    text-decoration: none;
}

nav ul li {
    margin-right: 15px;
    list-style-type: none; 
    display: inline-block; 
}

header h1 {
    margin: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.search-container {  /* tlo wyszukiwania */
    background-image: url('../img/City2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px; 
    text-align: center; 
    display: flex; 
    align-items: center;
    justify-content: center; 
    width: 100%;
    min-height: 70vh;
    
}

.search-container-rent {
    background-image: url('../img/City1.jpg');
}

.search-container-sale {
    background-image: url('../img/City2.jpg');
}

.search-section { /* sekcja wyszukiwania */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-width: 500px;
    width: 35%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    background-color: #fff;
    margin: auto;
    border: 8px #0E2954 double;
}

.search-buttons button { /* przyciski kategorii */
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    background-color: transparent;
    color: #000;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    transition: color 0.3s, border-bottom-color 0.3s;
}

.search-buttons button.active {  /* aktywy przycisk wyglad */
    color: #007aff;
    border-bottom: 3px solid #007aff;
}

.search-buttons button:not(.active):hover {
    color: #00a9ff;
    border-bottom: 3px solid #00a9ff;
}

.search-bar {
    margin-top: 10px;
    width: 100%;
}

.search-bar input{  /* pole wpisywania */
    min-width:40vh;
    padding: 10px;
    font-size: 18px;
    display: block;
    margin: 5px auto;
    border-radius: 5px;
    border: 1px solid #ccc; 

}

.search-bar button { /* przycisk wyszukiwania */
    padding: 10px 20px;
    font-size: 20px;
    margin: 10px auto 0;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    transition: color 0.3s, border-bottom-color 0.3s;
    border: none;
    color: #007aff;
    border-bottom: 3px solid #007aff;
}

.search-bar button:hover { /* styl dla hover */
    color: #00a9ff;
    border-bottom: 3px solid #00a9ff;
}

.content-section {  /* sekcja opisowa strony */
    flex-grow: 1;
    display: flex;
    justify-content: center;
    background-color: #2E8A99;
    padding: 50px;
    text-align: center;
    min-height: calc(100vh - 50px);
    border-top: 3px white solid;
}

footer { /* stopka */
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: auto;
    width: 100%;
    background-color: #0E2954;
    border-top: 3px white solid;
}

.content-section-houses {  /* sekcja wyswietlania domow */
    flex-grow: 1;
    display: flex;
    background-color: #2E8A99;
    padding: 50px;
    text-align: center;
    min-height: calc(100vh - 50px);
    flex-direction: column;
    align-items: center;
    border-top: 3px white solid;
}

.property { /* kwadraty domow */
    width: 400px; 
    max-height: 315px;
    background-color:white;
    border: 8px #0E2954 double;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    color: black;
}

.property h2 {
    font-size: 24px;
    margin: 0;
    margin-bottom: 10px;
}

.property p {
    margin: 0;
    margin-bottom: 10px;
}

.form-container-login { /* formularze logowania */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 380px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    margin-top: 20px;
    border: 8px #0E2954 double;
}

.form-container-register { /* formularze rejestracji */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 690px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    margin-top: 20px;
    border: 8px #0E2954 double;
}

.form-container-index { /* opis na index */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    min-width: 750px;
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border: 8px #0E2954 double;
    margin-top: 20px;
}

.error-message {
    color: red;
    margin-top: 20px;
}

.form-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: transparent;
    color: #000;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s, border-bottom-color 0.3s;
    border: none;
    color: #007aff;
    border-bottom: 3px solid #007aff;
}

.form-button:hover {
    color: #00a9ff;
    border-bottom: 3px solid #00a9ff;
}

textarea {
    resize: none;
}

.detail-button {
    padding: 10px 25px;
    font-size: 20px;
    background-color: transparent;
    color: #000;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s, border-bottom-color 0.3s;
    border: none;
    color: #007aff;
    border-bottom: 3px solid #007aff;
}

.detail-button:hover {
    color: #00a9ff;
    border-bottom: 3px solid #00a9ff;
}

.property-details {
    width: 60%;
    margin: 0 auto;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
    border: 8px #0E2954 double;
}

.property-field {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.property-field li {
    list-style: none;
}

.form-container-profile { /* pole profilowe */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    /* width: 750px; */
    min-width: 1200px;
    min-height: 330px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    margin-top: 20px;
    border: 8px #0E2954 double;
}

.hidden {
 display: none;
}

#crud-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 15px;
    min-width: 450px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: #1434A4;
    color: #ffffff;
    text-align: left;
}

#crud-table th {
    background-color: #0E2954;
}

#crud-table th, td {
    padding: 12px 15px;
}

#crud-table tbody tr {
    border-bottom: 1px solid #00a9ff;;
}

#crud-table tbody tr:nth-of-type(even) {
    background-color: #007aff;;
}

#crud-table tbody tr:last-of-type {
    border-bottom: 5px solid #0E2954;
}

.select-style {
    min-width:40vh;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
